<!DOCTYPE html>
<html>
<head>
    {include admin.public.head}
</head>
<body>
<div class="layui-fluid pt10">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form id="searchform" class="layui-form layui-card-header layuiadmin-card-header-auto pt10 pb10" target="_self">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label search-form-label">关键词</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="keyword" placeholder="{if $type == 2}申请人|{/if}申请理由" autocomplete="off" value="{$keyword}"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">状态</option>
                                    {loop $statusList $k $v}
                                    <option value="{$k}" {if $k == $status} selected {/if} >{$v}</option>
                                    {/loop}
                                  </select>  
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="searchDate" id="searchDate" placeholder="请假时间" value="{$searchDate}">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <input type="hidden" name="type" id="type" value="{$type}">
                            <a class="layui-btn layuiadmin-btn-list" onclick="doSearch()">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>搜索
                            </a>
                        </div>
                    </div>
                </form>

                <script type="text/html" id="table-content-list">
                    <a title="申请详情" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">
                        <i class="layui-icon ml0 mr0">&#xe63c;</i>
                    </a>
                    {if $type == 2}
                    <a title="审批" class="layui-btn layui-btn layui-btn-xs {{#if (d.status != 1 ){}}layui-btn-disabled{{#}}}" lay-event="audit">
                        <i class="layui-icon ml0 mr0">&#xe6b2;</i>
                    </a>
                    <a title="发放" class="layui-btn layui-btn-warm layui-btn-xs {{#if (d.status != 2 ){}}layui-btn-disabled{{#}}}" lay-event="grant">
                        <i class="layui-icon ml0 mr0">&#xe62d;</i>
                    </a>
                    {/if}
                </script>

                <div class="layui-card-body">
                    <div class="pb10 {if $type == 2} dis_none {/if}">
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-list" onclick="add()"><i class="layui-icon"></i>添加</button>
                    </div>
                    <table class="layui-hide" id="list_table" lay-filter="list_table_event"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var type = {$type};
    //我的申请
    var cols = [[
                {field: 'id', title: 'ID', width:80,fixed:'left'}
                ,{field: 'apply_reason', title: '申请原因',minWidth:200}
                ,{field: 'status_text', title: '状态', width: 100,}
                ,{field: 'create_time', title: '申请时间', width: 160,}
                ,{title: '操作', width: 180, toolbar: '#table-content-list',fixed:'right'}
            ]];
    if (type == 2) {
        //审批列表
        var cols = [[
                {field: 'id', title: 'ID', width:80,fixed:'left'}
                ,{field: 'realname', title: '申请人',width:150,fixed:'left'}
                ,{field: 'apply_reason', title: '申请原因',minWidth:200}
                ,{field: 'status_text', title: '状态', width: 100,}
                ,{field: 'create_time', title: '申请时间', width: 160,}
                ,{title: '操作', width: 180, toolbar: '#table-content-list',fixed:'right'}
            ]];
    }

    var table = layui.table
        , form = layui.form
        , laydate = layui.laydate;
    //监听搜索
    form.render();
    tableRender();

    laydate.render({
      elem: '#searchDate'
      ,range: true
    });


    function doSearch() {
        $("#searchform").removeAttr("target").submit();
    }

    function tableRender() {
        closeAll();
        table.render({
            elem: '#list_table'
            , url: "{$dataUrl}"
            ,autoSort: false
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            , cols: cols
            , page: true
        });
        //监听行工具事件
        table.on('tool(list_table_event)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "detail":
                    var url = '/admin/stationeryApply/detail';
                    url += '?id='+data.id;
                    openWindow(url, '申请详情', '50%', '75%');
                    break;
                case "audit":
                    if ($(this).hasClass('layui-btn-disabled')) {
                        return false;
                    }
                    var url = '/admin/stationeryApply/audit';
                    url += '?id='+data.id;
                    openWindow(url, '审批', '50%', '75%');
                    break;
                case "grant":
                    if ($(this).hasClass('layui-btn-disabled')) {
                        return false;
                    }
                    var url = '/admin/stationeryApply/grant';
                    url += '?id='+data.id;
                    openWindow(url, '发放', '50%', '75%');
                    break;
                default:
            }

        });
    }

    function tableReload() {
        closeAll();
        //执行重载
        table.reload('list_table', {});
    }

    function add() {
        openWindow('/admin/stationeryApply/add', '新增申请', '40%', '76%');
    }
</script>
</body>
</html>