<!DOCTYPE html>
<html>
<head>
    {include admin.public.head}
</head>
<body>
<div class="layui-fluid pt10">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form id="searchform" class="layui-form layui-card-header layuiadmin-card-header-auto pt10 pb10" target="_self">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label search-form-label">关键词</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="keyword" placeholder="文具名称" autocomplete="off" value="{$keyword}"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <input type="hidden" name="action_type" id="action_type" value="1">
                            <a class="layui-btn layuiadmin-btn-list" onclick="doSearch()">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>搜索
                            </a>
                        </div>
                    </div>
                </form>

                <script type="text/html" id="table-content-list">
                    <a title="修改信息" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                        <i class="layui-icon ml0">&#xe642;</i>
                    </a>
                    <a title="删除" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                        <i class="layui-icon ml0 mr0"> &#xe640;</i>
                    </a>
                </script>

                <script type="text/html" id="tableValid">
                    <input type="checkbox" name="is_valid" lay-skin="switch" lay-text="启用|禁用" lay-filter="is_valid" id="{{d.id}}" value="1" {{d.is_valid==1?'checked':''}}>
                </script>

                <div class="layui-card-body">
                    <div class="pb10">
                        <button class="layui-btn layui-btn-sm layui-btn-danger layuiadmin-btn-list" onclick="delMuti()"><i class="layui-icon"></i>删除</button>
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-list" onclick="add()"><i class="layui-icon"></i>添加</button>
                    </div>
                    <table class="layui-hide" id="list_table" lay-filter="list_table_event"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var table = layui.table
        , form = layui.form;
    //监听搜索
    form.render();
    tableRender();

    function doSearch() {
        $("#action_type").val(1);
        $("#searchform").removeAttr("target").submit();
    }

    function tableRender() {
        closeAll();
        table.render({
            elem: '#list_table'
            , url: "{$dataUrl}"
            ,autoSort: false
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            , cols: [[
                {type: 'checkbox', width: 50,fixed:'left'}
                ,{field: 'id', title: 'ID', width:80,fixed:'left'}
                ,{field: 'name', title: '文具名称',width:250,fixed:'left'}
                ,{field: 'unit', title: '单位',width:120,fixed:'left'}
                ,{field: 'summary', title: '文具描述',minWidth:200}
                ,{field: 'is_valid', title: '状态', width: 200, templet:"#tableValid"}
                ,{title: '操作', width: 180, toolbar: '#table-content-list',fixed:'right'}
            ]]
            , page: true
        });
        //监听行工具事件
        table.on('tool(list_table_event)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "del":
                    layer.confirm('真的删除行么', function (index) {
                        var query=new Object();
                        query.ids=obj.data.id;
                        var url = "/admin/stationery/doDel";
                        loading("处理中...");
                        layui.$.post(url, query, function (res) {
                            closeAll();
                            if (res.code === '000') {
                                tableReload();
                            } else {
                                msgFaild(res.message);
                            }
                        }, "json");
                    });
                    break;
                case "edit":
                    var url = '/admin/stationery/edit';
                    url += '?id='+data.id;
                    openWindow(url,'修改文具信息','40%','60%');
                    break;
                default:
            }

        });

        form.on('switch(is_valid)', function(obj) {

            var url = "/admin/stationery/doChangeValid";
            var query = new Object();
            query.id = $(obj.elem).attr('id');
            query.valid = obj.elem.checked === true?1:0;
            $.post(url, query, function(res) {
                if (res.code == '000') {
                } else {
                    layer.alert(res.message, {icon: 2}, function () {
                        parent.tableReload();
                    });
                }

            })
        });
    }

    function tableReload() {
        closeAll();
        //执行重载
        table.reload('list_table', {});
    }

    function delMuti() {
        var checkStatus = table.checkStatus('list_table')
            , data = checkStatus.data;
        console.log(checkStatus);
        var len = data.length;
        if (len == 0) {
            msgFaild("请先选择要删除的记录");
            return;
        }
        var dot = "";
        var query = new Object();
        query.ids = "";
        for (var i = 0; i < len; i++) {
            query.ids += dot + data[i].id;
            dot = ",";
        }
        layer.confirm('确定要删除选中记录吗？', {
            btn: ['确定', '取消']
        }, function (index, layero) {
            var url = "/admin/stationery/doDel";
            loading("处理中...");
            layui.$.post(url, query, function (res) {
                closeAll();
                if (res.code === '000') {
                    tableReload();
                } else {
                    msgFaild(res.message);
                }
            }, "json");
        }, function (index) {
            //处理取消操作
        });
    }

    function add() {
        openWindow('/admin/stationery/add','新增文具','40%','60%');
    }
</script>
</body>
</html>