<div class='right'>
    <div class="basic_top">个人资料</div>
    <div class="">
        <form class="form_panel">
            <ul class="clearfix">
                <li>
                    <label class="labelText">账号</label>
                    <div class="txt">{$data.user.username}</div>
                </li>
                <li>
                    <label class="labelText">真实姓名</label>
                    <div class="txt">
                        <strong>{$data.user.name}</strong>
                    </div>
                </li>
                <li>
                    <label class="labelText">所属部门</label>
                    <div class="txt">{$data.user.department}

                    </div>
                </li>
                <li>
                    <label class="labelText">职务</label>
                    <div class="txt">{$data.user.position}
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>