<li class="layout-nav-list-item">
    <a href="javascript:void(0)"　title="用户管理">
        <cite>用户管理</cite>
        <i class="rhly-iconfont jiantou-right right"></i>
    </a>
    <ul class="sub-nav-list">
        <li>
            <a href="javascript:void(0)" title="用户列表" _href="/admin/user/index">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>用户列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"　title="角色列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>角色列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="layout-nav-list-item">
    <a href="javascript:void(0)"　title="假期调休管理">
        <cite>假期调休管理</cite>
        <i class="rhly-iconfont jiantou-right right"></i>
    </a>
    <ul class="sub-nav-list">
        <li>
            <a href="javascript:void(0)"　title="假期类型列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>假期类型列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"　title="我的申请" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>我的申请</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" title="假期审批列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>假期审批列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="layout-nav-list-item">
    <a href="javascript:void(0)" title="办公室管理">
        <cite>办公室管理</cite>
        <i class="rhly-iconfont jiantou-right right"></i>
    </a>
    <ul class="sub-nav-list">
        <li>
            <a href="javascript:void(0)"　title="办公室列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>办公室列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"　title="我的申请" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>我的申请</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"　title="办公室审批列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>办公室审批列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="layout-nav-list-item">
    <a href="javascript:void(0)"　title="物品管理">
        <cite>物品管理</cite>
        <i class="rhly-iconfont jiantou-right right"></i>
    </a>
    <ul class="sub-nav-list">
        <li>
            <a href="javascript:void(0)"　title="物品列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>物品列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)"　title="我的申请" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>我的申请</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" title="物品审批列表" _href="">
                <i class="rhly-iconfont jiaoseguanli"></i>
                <cite>物品审批列表</cite>
                <i class="rhly-iconfont jiantouarrow-right right"></i>
            </a>
        </li>
    </ul>
</li>