<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    {res:css css/bootstrap.min.css}
    {res:css css/common.css}
</head>

<body>
{include demo.public.back_header}
<main class='main clearfix max-w'>
    {include demo.public.back_main_left}
    <div class='right'>
        <div class="basic_top r">内部公示</div>
        <h3 style="text-align:center;">{$data.tip} </h3>
            <form class="form_panel"  novalidate="novalidate" action="/demo/news/insert" method="post">
                <ul class="clearfix">
                    <li>
                        <label class="labelText">公示标题</label>
                        <div class="txt">
                            <input type="text" class="inputText" name="newtitle" placeholder="公示标题">
                        </div>
                    </li>

                    <li>
                        <label class="labelText">公示内容</label>
                        <div class="txt">
                            <textarea name="newcontent" class="areaText"></textarea>
                            <span class="limit-tip">(0/1000个字)</span>
                        </div>
                    </li>
                </ul>
                <div class="btn-group" style="text-align:center;margin: 20px 45%">
                    <input type="submit" class="btn btn-orange subm" data-act="submit" value="申请">
                </div>
            </form>
        </div>

    </div>
</main>

</body>
</html>


