<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    {res:css css/bootstrap.min.css}
    {res:css css/common.css}
</head>

<body>
{include demo.public.back_header}
<main class='main clearfix max-w'>
    {include demo.public.back_main_left}
    <div class='right'>
        <div class="basic_top r">物品领用<a class='verify' href="/demo/goods/goodsAll">查看已领取的物品</a></div>
        <table class="table-list table-outborder" style="table-layout: auto;">
            <thead>
            <tr>
                <th width="30">
                    <input class="checkbox-1" type="checkbox" v-if="list.length" v-model="checkAll" />
                </th>
                <th width="200">申请时间</th>
                <th class="tl">物品名称</th>
                <th width="130">审核状态</th>
            </tr>
            </thead>
            <tbody>
            {loop $data['goods'] $v }
            <tr>
                <td><input class="checkbox-1" type="checkbox" /></td>
                <td >{$v.datetime}</td>
                <td class="tl">{$v.goodsname}</td>
                <td>{$v.stateName}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
        {$data.page}
    </div>
</main>

</body>
</html>


