<header class='nav'>
    <div class='max-w clearfix'>
        <div class='fl l'>
            <!--<a href="#" ><img src='src_logo'></a>-->
            <a class='type'>简易办公系统</a>
        </div>
        <ul class='fr r'>
            <!--<li><i class='ib car'></i>已申请订单<em class='em'>订单数</em></li>-->
            <li><i class='ib usr'></i><strong class='verify' v-text='authState'>{expr $_SESSION['name']}</strong></li>
            <li><a href="/demo/index/out">退出</a></li>
        </ul>
    </div>
</header>